/*초기 설정*/
* {
    padding: 0px;
    margin: 0px;
}
ul li, ol li {
    list-style: none;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'Hana_handwriting';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Hana_handwriting.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Hana_handwriting';
}
html, body {
    width: 100%;
    height: auto;
    background-image: url("../images/letter1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
div{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    /*border: 1px solid black;*/
}