/*초기 설정*/
* {
    padding: 0px;
    margin: 0px;
}
ul li, ol li {
    list-style: none;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'Hana_handwriting';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Hana_handwriting.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body{
    font-family: 'Hana_handwriting';
}
html, body {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/letterBackground.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    /*background-color: black;*/
}
#container{
    width: 80vw;
    height: 80vh;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
div{
    display:inline-flex;
    margin: 10px;
}
.text{
    width: 50vw;
    height: auto;
    padding: 30px;
    color:black;
    font-size: larger;
}
.img {
    width: 50vw;
    padding: 10px;
}
img{
    width: 100%;
    height: 100%;
}