/*초기 설정*/
* {
    padding: 0px;
    margin: 0px;
}
ul li, ol li {
    list-style: none;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
}
/*****레이아웃 설정*****/
html, body {
    width: 100vw;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url("../images/background.jpg");
    background-size:100vw 102vh;
}
#container {  
    position:absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 1000px;
    height: auto;
    padding:1%;
}
header {
    width: 100%;
    height: 100px;
    margin: 0px 0px 10px 0px;
    background-color: none;
    /*border:3px solid black;
    border-radius: 10px;*/
}
h2{
    text-align: center;
}
header h1, header p{
    text-align: center;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    color:white;
}

main {
    display: inline-block;
    width: 60%;
    height: 700px;
    background: rgb(255, 255, 80);
    border:3px solid black;
    border-radius: 10px;
}
sidebar {
    width: 35%;
    height: 680px;
    /*padding: 1%;*/
    float:right;
    /*background: lightcyan;*/
    /*border:3px solid black;*/
    border-radius: 10px;
}
section {
    margin: 0px 0px 10px 0px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background: lightcyan;
}
#items {
    margin: 5%;
    padding: 5%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
}
#item-list{
    padding: 10px;
}
.item{
    display: inline-block;
    width: 80px;
    height: 150px;
    margin-left: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(256,256,256,0.6);
    border: 2px solid black;
    border-radius: 10px;
}
.item:hover {
    background-color: white;
    transition: 0.3s;
}
#item0_text, #item1_text, #item2_text, #item3_text, #item4_text, #item5_text, #item6_text, #item7_text{
   margin-bottom: 5px;
}
#item0_img, #item1_img, #item2_img, #item3_img, #item4_img, #item5_img, #item6_img, #item7_img{
    width: 100%;
}
.select_button{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}
.select_button:hover {
    cursor: pointer;
}
#machine-exit{
    display:inline-block;
    width: 60%;
    height: 120px;
    margin: 0% 5%;
    background-color: grey;
    border:2px solid black;
    border-radius: 10px;
}
#machine-slot{
    float:right;
    margin: 0% 5% 5% 5%;
    border:2px solid black;
    background-color: silver;
    border-radius: 5px;
}
#machine-slot-money{
    width: 50px;
    height: 10px;
    margin: 5px;
    background-color: darkgrey;
    border:2px solid black;
    border-radius: 5px;
}
#machine-slot-coin{
    float:right;
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: darkgrey;
    border:2px solid black;
    border-radius: 50%;
}
#wallet{
    height: 150px;
    border-radius: 10px;
}
#myItems{
    height: auto;
    border-radius: 10px;
}
#slot {
    height: auto;
    border-radius: 10px;
}
#content_wallet {
    height: 80px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border:2px solid darkgrey;
}
#content_wallet>p{
    text-align: center;
    font-size: large;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}
#content_items {
    height: 285px;
    margin: 10px;
    padding: 5px 5px 5px 8px;
    overflow-y:auto;
    background-color: white;
    border:2px solid darkgrey;
}
.purchased_item{
    width: 25%;
    text-align:center;
    display:inline-block;
}
#content_items img{
    width: 100%;
    margin-left:4px;
}
#content_slot{
    height: 50px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border:2px solid darkgrey;
}
input[type="number"]{
    float:left;
    width: 65%;
    height:45px;
}
#put_button{
    float:right;
    width: 30%;
    height: 50px;
}